@import url('https://fonts.googleapis.com/css2?family=family=Sansita+Swashed:wght@300&display=swap');

body {
    font-family: sansita-swashed, sans-serif;
    font-weight: 300;
    color: burlywood;
    background-color:darkslategray;
    min-width: 360px;
    margin:0px;
    border:0px;
    padding:0px;
    width: 100%;
}

section {
    margin:0px;
    border:0px;
    padding:0px;
    width: 100%;

}
#club-name {
    float: left;
    font-size: 150%;
}

/* header styling*/
header {
    background-color: #5900ff;
    padding: 1em;
    width: 100%;
    min-height: 30px;
}

#nav-id {
    float:right;
    min-width: 400px;

}

/*navigation links style*/
#links li {
    display:inline-block;
    list-style-type: none;
    margin-right: 2em;
}

#links a {
    text-decoration: none;
}

#club-name, #links {
    line-height: 1px;
}

#links a:hover {
    border-bottom: 1px solid;
}

a {
    color: aquamarine;
}

.showings {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}
.showings h2 {
    text-transform: uppercase;
    border-bottom: 1px solid;
    text-align: center;

}

.showings h3 {
    text-align: center;

}

.showings p {
    text-align: center;
}
p {
    text-align: center;
}

/* Who we are and Why you should join styling */

.who {
    text-align: center;
    color: burlywood;
}

.why {
    text-align: center;
    color: burlywood;
}

/* hero image styling */
/*
img {
    display: block;
    max-width: 80em;
    max-height: 20em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
}
*/

@media screen and (max-width: 8000px) {
    #home-pic img {
        width: 717px;
        height: 477px;
        display: block;
        max-width: 80em;
        max-height: 20em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3em;
    }
}

@media screen and (max-width: 720px) {
    #home-pic img {
        width: 537px;
        height: 358px;
        display: block;
        max-width: 80em;
        max-height: 20em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3em;
    }
}

/* home-pic styling */
@media screen and (max-width: 540px) {
    #home-pic img {
        width: 359px;
        height: 239px;
        display: block;
        max-width: 80em;
        max-height: 20em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3em;
    }
    
}
#home-pic{
    text-align: center;
}

/* form cabin pic styling */
@media screen and (max-width: 8000px) {
    #cabin-pic img {
        width: 717px;
        height: 477px;
        display: block;
        max-width: 80em;
        max-height: 20em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3em;
    }
}

@media screen and (max-width: 720px) {
    #cabin-pic img {
        width: 537px;
        height: 358px;
        display: block;
        max-width: 80em;
        max-height: 20em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3em;
    }
}

/* home-pic styling */
@media screen and (max-width: 540px) {
    #cabin-pic img {
        width: 359px;
        height: 239px;
        display: block;
        max-width: 80em;
        max-height: 20em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3em;
    }
    
}
#cabin-pic{
    text-align: center;
}

/* showings styling */
.showings {
    color:aquamarine;
    max-height: 20em;
}

/* footer styling*/

footer {
    padding: 1em;
    background-color: midnightblue;
    width: 100%;
}

.socials {
    text-align: center;
}

footer, ul {
    list-style: none;
}

.socials, i {
    font-size: 120%;
    margin: 1%;
}

.socials > li {
    display: inline;
}

/* movie poster styling */

#posters {
    text-align: center;
    width: 100%;
}
#posters-div {
    column-count: 3;
    width: 80%;
    text-align: center;
    column-width: 15em;
    max-width: 50em;
    margin: auto;
}

#posters-div img {
    float: left;
    margin-right: 3em;
    margin-left: 8em;
    width: 15em;
    height: 20em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
}

/* styling form and join us page */

label {
    display: inline-block;
    width: 210px;
    text-align: right;
}

#cabin h2 {
    text-align: center;
    font-size: 500%;
}

#join-us-section {
    text-align: center;
}
#join-us {
    text-align: center;
    font-size: 1em;
}

/* scale to screen sixes 720px wide and down */
@media screen and (max-width: 850px) {
    #posters-div {
        column-count: 2;
        text-align: center;
        padding-left: 3em;
    }
}

/* scale to screen sixes 720px wide and down */
@media screen and (max-width: 550px) {
    #posters-div {
        column-count: 1;
        text-align: center;
        position: relative;
        padding-left: 4em;
    }
}
/* scale to screen sizes 768px wide and down*/
@media screen and (max-width: 700px){
    #club-name {
        clear: left;
        float: left;
    }

    #page-header {
        min-height:60px;
    }
}

/* scale to screen sizes 690px wide and down */

@media screen and (max-width: 425px) {
    #links {
        margin-left: 20px;
        margin-bottom: 10px;
        line-height: 10px;
        white-space: nowrap;
    }
}




