html {
    position: relative;
    min-height: 100%;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    color: burlywood;
    background-color: #2F4F4F;
    min-width: 360px;
    border: 0px;
    width: 100%;
    min-height: 100%;
    height: auto;
    margin: 0 0 100px;
    padding: 0px 0px 25px;
}

section {
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;

}

#club-name {
    float: left;
    font-size: 150%;
}

/* header styling*/
header {
    background-color: #357367;
    padding: 1em;
    width: 100%;
    min-height: 30px;
}

#nav-id {
    float: right;
    min-width: 400px;
}

/*navigation links style*/
#links li {
    display: inline-block;
    list-style-type: none;
    margin-right: 2em;
}

#links a {
    text-decoration: none;
}

.active {
    border-bottom: 1px solid;
}

#club-name,
#links {
    line-height: 1px;
}

#links a:hover {
    border-bottom: 1px solid;
}

a {
    color: aquamarine;
}

/* style for monthly movie showings */
.showings {
    color: aquamarine;
    max-height: 20em;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}

.showings h2 {
    text-transform: uppercase;
    border-bottom: 1px solid;
    text-align: center;
}

.showings h3 {
    text-align: center;

}

.showings p {
    text-align: center;
}

p {
    text-align: center;
    padding-left: 2%;
    padding-right: 5%;
}

/* Who we are and why you should join styling */
.who {
    text-align: center;
    color: burlywood;
}

.why {
    text-align: center;
    color: burlywood;
}

/* resize home image for desktop, tablet and phone */
@media screen and (max-width: 8000px) {
    #home-pic img {
        width: 717px;
        height: 477px;
        display: block;
        max-width: 80em;
        max-height: 20em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3em;
    }
}

@media screen and (max-width: 720px) {
    #home-pic img {
        width: 537px;
        height: 358px;
        display: block;
        max-width: 80em;
        max-height: 20em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3em;
    }
}

@media screen and (max-width: 540px) {
    #home-pic img {
        width: 359px;
        height: 239px;
        display: block;
        max-width: 80em;
        max-height: 20em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3em;
    }

}

#home-pic {
    text-align: center;
}

/* resize cabin image for desktop, tablet and phone */
@media screen and (max-width: 8000px) {
    #cabin-pic img {
        width: 717px;
        height: 477px;
        display: block;
        max-width: 80em;
        max-height: 20em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3em;
    }
}

@media screen and (max-width: 720px) {
    #cabin-pic img {
        width: 537px;
        height: 358px;
        display: block;
        max-width: 80em;
        max-height: 20em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3em;
    }
}

@media screen and (max-width: 540px) {
    #cabin-pic img {
        width: 359px;
        height: 239px;
        display: block;
        max-width: 80em;
        max-height: 20em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3em;
    }

}

#cabin-pic {
    text-align: center;
}

/* footer styling*/
footer {
    background-color: #357367;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

footer ul {
    text-align: center;
    list-style: none;
}

.socials {
    text-align: center;
}

.socials i {
    font-size: 120%;
    margin: 1%;
}

.socials li {
    display: inline;
}

/* movie poster styling */
#posters {
    text-align: center;
    width: 100%;
}

#posters-div {
    column-count: 3;
    width: 80%;
    text-align: center;
    column-width: 15em;
    max-width: 50em;
    margin: auto;
}

#posters-div img {
    float: left;
    margin-right: 3em;
    margin-left: 8em;
    width: 15em;
    height: 20em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
}

/* styling join us form and join us page */
@media screen {
    label {
        display: inline-block;
        width: 210px;
        text-align: right;
    }

    #cabin h2 {
        text-align: center;
        font-size: 500%;
    }

    #join-us-section {
        text-align: center;
    }

    #join-us {
        text-align: center;
        font-size: 1em;
    }
}

@media screen and (max-width:400px) {
    #join-us label {
        width: 210px;
        text-align: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    #cabin h2 {
        text-align: center;
        font-size: 500%;
    }

    #join-us-section {
        text-align: center;
    }

    #join-us {
        text-align: center;
        font-size: 1em;
    }

    #join-us input {
        text-align: left;
    }
}

/* scale to screen sizes */
@media screen and (max-width: 850px) {
    #posters-div {
        column-count: 2;
        text-align: center;
        padding-left: 3em;
    }
}

/* scale to screen sizes */
@media screen and (max-width: 550px) {
    #posters-div {
        column-count: 1;
        text-align: center;
        position: relative;
        padding-left: 4em;
    }
}

/* scale to screen sizes */
@media screen and (max-width: 700px) {
    #club-name {
        clear: left;
        float: left;
    }

    #page-header {
        min-height: 60px;
    }
}

/* scale to screen sizes */
@media screen and (max-width: 425px) {
    #links {
        margin-left: 20px;
        margin-bottom: 10px;
        line-height: 10px;
        white-space: nowrap;
    }
}

/* button styles */

.btn {
    background: #55708C;
    background-image: -webkit-linear-gradient(top, #55708C, #D796A9);
    background-image: -moz-linear-gradient(top, #55708C, #D796A9);
    background-image: -ms-linear-gradient(top, #55708C, #D796A9);
    background-image: -o-linear-gradient(top, #55708C, #D796A9);
    background-image: linear-gradient(to bottom, #55708C, #D796A9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #2F4F4F;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #F9F871 2px;
    text-decoration: none;
}

.btn:hover {
    background: #4C9774;
    background-image: -webkit-linear-gradient(top, #4C9774, #F9F871);
    background-image: -moz-linear-gradient(top, #4C9774, #F9F871);
    background-image: -ms-linear-gradient(top, #4C9774, #F9F871);
    background-image: -o-linear-gradient(top, #4C9774, #F9F871);
    background-image: linear-gradient(to bottom, #4C9774, #F9F871);
    text-decoration: none;
}

#home-btn {
    text-align: center;
}