@import url('https://fonts.googleapis.com/css2?family=family=Sansita+Swashed:wght@300&display=swap');

body {
    font-family: sansita-swashed, sans-serif;
    font-weight: 300;
    color: burlywood;
    background-color:darkslategray;
    min-width: 425px;
    margin:0px;
    border:0px;
    padding:0px;
}

section {
    margin:0px;
    border:0px;
    padding:0px;
    width: 100%;

}
#club-name {
    float: left;
    font-size: 150%;
}

/* header styling*/
header {
    background-color: #5900ff;
    padding: 1em;
    width: 100%;
    min-height: 30px;
}

#nav-id {
    float:right;
    min-width: 400px;

}

/*navigation links style*/
#links li {
    display:inline-block;
    list-style-type: none;
    margin-right: 2em;
}

#links a {
    text-decoration: none;
}

#club-name, #links {
    line-height: 1px;
}

#links a:hover {
    border-bottom: 1px solid;
}

a {
    color: aquamarine;
}

.showings h2 {
    text-transform: uppercase;
    border-bottom: 1px solid;
    text-align: center;
}

.showings h3 {
    text-align: center;
}

.showings p {
    text-align: center;
}

/* Who we are and Why you should join styling */

.who {
    text-align: center;
    color: burlywood;
}

.why {
    text-align: center;
    color: burlywood;
}

/* hero image styling */
img {
    display: block;
    max-width: 80em;
    max-height: 20em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
}

/* showings styling */
.showings {
    color:aquamarine;
    max-height: 20em;
}

/* footer styling*/

footer {
    padding: 1em;
    background-color: midnightblue;
}

.socials {
    text-align: center;
}

footer, ul {
    list-style: none;
}

.socials, i {
    font-size: 120%;
    margin: 1%;
}

.socials > li {
    display: inline;
}

/* movie poster styling */

#posters {
    column-count: 3;
}

#posters > img {
    float: left;
    margin-right: 3em;
    margin-left: 8em;
}

#cabin h2 {
    text-align: center;
    font-size: 500%;
}

#join-us {
    text-align: center;
    font-size: 200%;
}

/* scale to screen sixes 1200px wide and down */
@media screen and (max-width: 1200px) {
    #posters {
        column-count: 2;
    }
}

/* scale to screen sizes 768px wide and down*/
@media screen and (max-width: 700px){
    #club-name {
        clear: left;
        float: left;
    }

    #page-header {
        min-height:60px;
    }
}

/* scale to screen sizes 690px wide and down */

@media screen and (max-width: 425px) {
    #links {
        margin-left: 20px;
        margin-bottom: 10px;
        line-height: 10px;
        white-space: nowrap;
    }

    #posters {
        column-count: 1;
        position: relative;
    }
}




