@import url('https://fonts.googleapis.com/css2?family=family=Sansita+Swashed:wght@300&display=swap');

body {
    font-family: sansita-swashed, sans-serif;
    font-weight: 300;
    color: burlywood;
    background-color:darkslategray
}

#club-name {
    float: left;
    font-size: 150%;
}

/* header styling*/
header {
    background-color:midnightblue;
    padding: 1em;
}

/*navigation links style*/

#links li {
    float: right;
    list-style-type: none;
    margin-right: 2em;
}

#links a {
    text-decoration: none;
}

#club-name, #links {
    line-height: 1px;
}

#links a:hover {
    border-bottom: 1px solid;
}

a {
    color: aquamarine;
}

.showings h2 {
    text-transform: uppercase;
    border-bottom: 1px solid;
    text-align: center;
}

.showings h3 {
    text-align: center;
}

.showings p {
    text-align: center;
}

/* hero image styling */
img {
    display: block;
    max-width: 80em;
    max-height: 20em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
}

/* showings styling */
.showings {
    color:aquamarine;
    max-height: 20em;
}

/* footer styling*/

footer {
    padding: 1em;
    background-color: midnightblue;
}

.socials {
    text-align: center;
}

footer, ul {
    list-style: none;
}

.socials, i {
    font-size: 120%;
    margin: 1%;
}

.socials > li {
    display: inline;
}

/* movie poster styling */

#posters {
    column-count: 3;
}

#posters > img {
    float: left;
}

#cabin h2 {
    text-align: center;
    font-size: 500%;
}

#join-us {
    text-align: center;
    font-size: 200%;
}